
<div *ngIf="!showAlert" class="form-inline">
  <div class="form-group">
    <label>Quantity</label>
    <select type="select" class="form-control" #quantity>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
  </div>
  <input #id style="display: none" type="text" value="{{(productToDisplay | async)?.$key }}">
  <input #totalPrice style="display: none" type="text" value="{{(productToDisplay | async)?.totalPrice }}">
  <input #name style="display: none" type="text" value="{{(productToDisplay | async)?.name }}">
  <input #gender style="display: none" type="text" value="{{(productToDisplay | async)?.gender }}">
  <input #clothing style="display: none" type="text" value="{{(productToDisplay | async)?.clothing }}">
  <input #price style="display: none" type="text" value="{{(productToDisplay | async)?.price }}">
  <!-- <input #productSize style="display: none" type="text" value="{{(productToDisplay | async)?.size }}"> -->
  <div class="form-group">
    <label>Size</label>
    <select class="form-control" type="select" #productSize name="productSize">
      <option value="small">Small</option>
      <option value="medium">Medium</option>
      <option value="large">Large</option>
      <option value="xlarge">Extra Large</option>
    </select>
  </div>
  <input #color style="display: none" type="text" value="{{(productToDisplay | async)?.color }}">
  <input #description style="display: none" type="text" value="{{(productToDisplay | async)?.description }}">
  <input #imageUrl style="display: none" type="text" value="{{(productToDisplay | async)?.imageUrl }}">
  <button (click)="showAlert=true; newItem(quantity.value, id.value, name.value, gender.value, clothing.value, price.value, productSize.value, color.value, description.value, imageUrl.value); setData(productSize.value)" class="btn btn-default">Add to cart!</button>
</div>
<div *ngIf="showAlert">
  <p class="red">
    {{(productToDisplay | async)?.name}} is already added to your bag :)
  </p>
  <div class="btn-group">
    <app-edit-item [userId]="userId"></app-edit-item>
    <button type="button" class="btn btn-sm btn-default red" (click)="showAlert=false">Add more items of different size</button>
  </div>
</div>
