.business-header {
  height: calc(100vh - 70px);
  position: absolute;
  left: 0px;
  right: 0px;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
    url('/assets/img/office.jpeg') center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.space, .big-space {
  height: 25px;
}


/********* Fonts *******/
.banner-title {
  color: white;
  font-size: 50px;
}
.paragraph-text {
  color: white;
  line-height: 25px;
  padding: 20px;
}
.big-text {
  font-size: 25px;
}

/********* Media Queries *******/
@media (min-width: 991px) {
  .paragraph-text {
    padding: 20px 50px;
    margin: 0px 75px;
  }
}
