<header class="business-header">
    <div class="container">
        <div class="row">
          <div class="space"></div>
            <div class="col-lg-12  text-center">
                <h2 class="banner-title">Our Story</h2>
            </div>
        </div>
    </div>
</header>
<div class="big-space"></div>
<p class="paragraph-text"><span class="big-text">Finding a job can be hard.</span> That's why we wanted to make sure that finding the right clothes to wear while job hunting is easy. This company was founded to make your job hunting experience just a little more pain-free. We have searched far and wide to find the perfect clothing to impress any potential employers.</p>
