.business-header {
    height: 300px;
    position: absolute;
    left: 0px;
    right: 0px;
    background: url('/assets/img/two-profs.jpeg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.space {
  height: 100px;
}

.banner-title {
  color: white;
  font-size: 72px;
}
