<button *ngIf="!editing" (click)="editing=true" type="button" class="btn btn-sm btn-default red">Edit</button>
<div *ngIf="editing">
  <h1>Edit {{item.name}}</h1>
  <label>Size: {{item.size}}</label>
  <select type="select" [(ngModel)]="item.size">
    <option value="Small">Small</option>
    <option value="Medium">Medium</option>
    <option value="Large">Large</option>
    <option value="Xlarge">Extra Large</option>
  </select>
  <label>Quantity</label>
  <select type="select" [(ngModel)]="item.quantity">
    <option [ngValue]="1">1</option>
    <option [ngValue]="2">2</option>
    <option [ngValue]="3">3</option>
    <option [ngValue]="4">4</option>
  </select>
  <button (click)="beginEditingItem(item); editing=false" type="button" class="btn btn-sm btn-default red">Edit</button>
</div>
