.product-list {
  .img {
    position: relative;
    float: left;
    width:  100%;
    height: 200px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
  }
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  .panel {
    height: 100%;
  }
  .item {
    margin: 20px 0;
  }
}
