<header class="business-header">
</header>
<div class="container">
    <div class="row">
      <div class="space"></div>
      <div class="col-lg-12  text-center">
          <h2 class="banner-title">Products</h2>
      </div>
    </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <a [hidden]="!filterItems" (click)="filterItems=false">Hide filters</a>
    <ng-template [ngIf]="!filterItems">
      <button (click)="filterItems = !filterItems" class="btn btn-default"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span>Filter</button>
    </ng-template>
    <div [hidden]="!filterItems" class="form-inline">
      <div class="form-group">
        <select class="form-control" (change)="onSizeChange($event.target.value)">
          <option value="allSizes" selected="selected">Size</option>
          <option value="smallProducts">Small</option>
          <option value="mediumProducts">Medium</option>
          <option value="largeProducts">Large</option>
        </select>
      </div>
      <div class="form-group">
        <select  class="form-control" (change)="onGenderChange($event.target.value)">
          <option value="allGenders" selected="selected">Gender</option>
          <option value="female">Women</option>
          <option value="male">Men</option>
        </select>
      </div>
      <div class="form-group">
        <select  class="form-control" (change)="onColorChange($event.target.value)">
          <option value="allColors" selected="selected">Color</option>
          <option value="black">Black</option>
          <option value="white">White</option>
          <option value="blue">Blue</option>
        </select>
      </div>
      <div class="form-group">
        <select  class="form-control" (change)="onPriceChange($event.target.value)">
          <option value="allColors" selected="selected">Price</option>
          <option value="under50">Under $50</option>
          <option value="under100">Under $100</option>
          <option value="over100">$100+</option>
        </select>
      </div>
      <div class="form-group">
        <select  class="form-control" (change)="onClothingChange($event.target.value)">
          <option value="allClothing" selected="selected">Type</option>
          <option value="pants">Pants</option>
          <option value="jacket">Jackets</option>
          <option value="shoes">Shoes</option>
          <option value="outer">Outers</option>
          <option value="accessories">Accessories</option>
        </select>
      </div>
    </div>
  </div>
</div>
<div class="row product-list">
  <div *ngFor="let product of products | async | size:filterBySize | gender:filterByGender | color: filterByColor | price: filterByPrice | clothing: filterByClothing" class="col-sm-6 item" (click)="goToDetailPage(product)">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-xs-5">
          <div class="img" [ngStyle]= "{'background-image': 'url(' + product.imageUrl + ')'}">
          </div>
          <!-- <img src="{{product.imageUrl}}"/> -->
        </div>
        <div class="col-xs-7">
          <h5>{{product.name}}</h5>
          <h4>${{product.price}}</h4>
          <h3>Description</h3>
          <p>{{product.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
