/**************
Styles from this page have been imported to product-detail
**************/
h2 {
  font-weight: normal;
  font-size: 24px;
}
h3 {
  font-size: 14px;
  margin-bottom: 0;
}
h5 {
  font-weight: normal;
}

.btn-default {
  border: none;
  background-color: #e6e6e6;
}

.form-control {
  border: none;
  background: #F8B16C;
  color: white;
  height: 25px;
  padding: 3px;
  select {
    border-radius: 0;
  }
}
a:hover {
  cursor: pointer;
  text-decoration: none;
}
.product-list {
  .img {
    position: relative;
    float: left;
    width:  100%;
    height: 200px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
  }
  // display: flex;
  // flex-direction: column;
  // flex-wrap: wrap;
  // align-items: stretch;
  .panel {
    height: 100%;
  }
  .item {
    margin: 20px 0;
  }
}
.business-header {
  z-index: -1;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0px;
  right: 0px;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
    url('/assets/img/professional.jpg') center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.space {
  height: 200px;
}
.big-space {
  height: 320px;
}

/********* Fonts *******/
.banner-title {
  color: white;
  font-size: 72px;
}
.paragraph-text {
  line-height: 25px;
}
.big-text {
  font-size: 25px;
}

/**************
Media Queries
**************/
@media (min-width: 992px) {
  .product-list {
    flex-direction: row;
  }
}

@media (max-width: 400px) {
  .panel-body {
    padding:0
  }
  .col-sm-6.item, .col-xs-5 {
    padding-right: 0;
    padding-left: 0;
  }
  .panel {
    border: none;
    border-radius: 0;
  }
}
