<h2>Products</h2>
<select (change)="onSizeChange($event.target.value)">
  <option value="allSizes" selected="selected">All Sizes</option>
  <option value="smallProducts">Small</option>
  <option value="mediumProducts">Medium</option>
  <option value="largeProducts">Large</option>
</select>
<select (change)="onGenderChange($event.target.value)">
  <option value="allGenders" selected="selected">Men & Women</option>
  <option value="female">Women</option>
  <option value="male">Men</option>
</select>
<select (change)="onColorChange($event.target.value)">
  <option value="allColors" selected="selected">All Colors</option>
  <option value="black">Black</option>
  <option value="white">White</option>
  <option value="blue">Blue</option>
</select>
<div *ngFor="let product of products | async | size:filterBySize | gender:filterByGender | color: filterByColor" class="panel panel-default">
  <div class="panel-body">
    <h3><em>{{product.name}}</em> <img src="{{product.imageUrl}}" /></h3>
  </div>
</div>
