/********** Nav **********/
.navbar {
  margin-bottom: 0;
}
.navbar-default {
    color: #ccc;
    border-radius: 0;
    font-size: 16px;
    padding: 10px;
      top:0px;
      left:0px;
      height:100%;
      width:100%;
      border-color: black;
      background: black;
      .navbar-brand {
          font-size: 30px;
          font-family: 'Muli', sans-serif;
          color: #ccc;
          &:hover {
            color: white;
          }
      }
      &:hover {
          color: white;
      }
}
.navbar-default .navbar-nav > li > a {
  color: #ccc;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: white;
}
.navbar-default .menu {
  font-size: 14px;
  float: right;
}
.cart {
  font-size: 20px;
  padding-top: 12px;
  padding-right: 0;
  display: inline-block;
}
.navbar-default .navbar-nav > li > a.user {
  display: inline-block;
  padding-left: 5px;
  font-size: 14px;
  color: pink;
}
.cart-container {
  display: flex;
  align-items: center;
}

/**************
Media Queries
**************/
@media (min-width: 692px) {
  .menu {
    display: none;
  }
}
