<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header" (window:resize)="onResize($event)">
      <a class="navbar-brand" href="/">Dress To Impress</a>
      <a class="navbar-brand menu" href="#" (click)="showMenu = !showMenu; consoleLogSomething()">Menu <span class="caret"></span></a>
    </div>

    <ul *ngIf="isWideEnough || showMenu" class="nav navbar-nav navbar-right">
      <li><a routerLink="">Products</a></li>
      <li><a routerLink="about">About</a></li>
      <li *ngIf="isLoggedIn" class="cart-container"><a class="cart"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a><a class="user">{{userName}}</a>
      </li>
      <li *ngIf="isLoggedIn"><a (click)="logout()">Logout</a></li>
      <li *ngIf="!isLoggedIn"><a (click)="login()">Sign In</a></li>
    </ul>

  </div>
</nav>
