/********** Nav **********/
.navbar {
  margin-bottom: 0;
}
.navbar-default {
    color: #ccc;
    border-radius: 0;
    font-size: 20px;
    padding: 10px;
      top:0px;
      left:0px;
      height:100%;
      width:100%;
      border-color: black;
      background: black;
      .navbar-brand {
          font-size: 30px;
          font-family: 'Muli', sans-serif;
          color: #ccc;
          &:hover {
            color: white;
          }
      }
      &:hover {
          color: white;
      }
}
.navbar-default .navbar-nav > li > a {
  color: #ccc;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: white;
}
.cart {
  font-size: 24px;
  padding-top: 12px;
}
