<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header" (window:resize)="onResize($event)">
      <a class="navbar-brand" href="/">Dress To Impress</a>
      <a class="navbar-brand menu" href="#" (click)="showMenu = !showMenu; consoleLogSomething()">Menu <span class="caret"></span></a>
    </div>

    <ul *ngIf="isWideEnough || showMenu" class="nav navbar-nav navbar-right">
      <li><a routerLink="">Products</a></li>
      <li><a routerLink="about">About</a></li>
      <li class="cart-container" (click)="checkout()"><a class="cart"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a><a *ngIf="isLoggedIn" class="user">{{userName}}</a>
      </li>
      <li *ngIf="isLoggedIn"><a (click)="logout()">Logout</a></li>
      <li *ngIf="!isLoggedIn"><a (click)="login()">Sign In</a></li>
      <form (submit)="searchThis(search)">
        <div class="input-group" *ngIf="isWideEnough || showMenu" >
          <input type="text" class="form-control" [(ngModel)]="search" name="search" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Go!</button>
          </span>
        </div>
      </form>
    </ul>

  </div>
</nav>
